<section class="thirteen columns">
    <h1 id="projects">Projects</h1>
    <article id="asr">
        <header>
            <h1><a href="https://asr.{{ site.mysite }}">Taiwanese Automatic Speech Recognition</a></h1>
        </header>
        <p class="describ">This Taiwanese ASR system is based on a seq2seq model with several enhancement mechanisms. Average accuracy achieves 70%.</p>
        <p class="describ" style="display:flex; justify-content:center; align-items:center;"><img style="height:365px;" src="{{ site.baseurl }}static/gif/twasr.gif"></p>
    </article>
    <article id="qa">
        <header>
            <h1><a href="https://grand.{{ site.mysite }}">Chinese Automatic Question Answering Web Application</a></h1>
        </header>
        <p class="describ">This QA system demonstrates the contest work of Formosa Grand Challenge 2018   by the champion team. This application bundles the ASR and the QA service together. Once users send a query, it automatically returns the most reasonable answers for the user's query.</p>
        <img src="{{ site.baseurl }}static/gif/grand.gif">
    </article>
    <article id="monitor">
        <header>
            <h1><a href="https://monitor.{{ site.mysite }}">Broker Monitor</a></h1>
        </header>
        <p class="describ">For monitoring brokers buying and selling activities in Taiwan.</p>
        <p><img src="{{ site.baseurl }}static/gif/monitor.gif"></p>
    </article>
</section>
